
.footer {
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-top: 80px;
    align-self: center;
    overflow-x: hidden;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-col {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.subscribe {
    display: flex;
    justify-content: center;
}

.subscribe .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    outline: none;
}

.submit-btn {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
}

.footer-nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.footer-nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}



.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.footer-bottom {
    
    text-align: center;
}

.site-logo a {
    font-size: 3.8rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.footer-bottom p {
    color: #666;
    font-size: 14px;
}
.footer-bottom .footer-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-content:space-between ;
    gap: 15px;
}

@media(max-width:430px){
    .row{
        flex-direction: column;
    }

    .site-logo a {
        font-size: 3rem;
        font-weight: bold;
        color: #333;
        /* text-decoration: none; */
    }
    
}
